:root {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

h2 {
    font-weight: 700;
    font-size: calc(15px + 3 * ((100vw - 320px) / (1440 - 320)));
    color: $main-font-color;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: $main-font-color;
    font-size: calc(13px + 3 * ((100vw - 320px) / (1440 - 320)));
    text-transform: uppercase;
    font-weight: 700;
}

h4 {
    font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
    letter-spacing: .8px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.main_btn {
    color: #ffffff;
    font-size: calc(11px + 2 * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #00a4e5;
    background-color: #00a4e5;
    padding: 1.3em 2em;

    &:hover {
        background-color: #ffffff;
        color: #00a4e5;
        transition: .3s ease-in-out;
    }

    &:hover,
    &:focus {
        outline: none;
    }
}

.header_bottom-line {
    width: 5rem;
    border-bottom: 2px solid #00a4e5;
}

// TOP-SECTION
.top-bg {
    background-image: url("../images/dist/top-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    position: relative;
}

.top-section {
    position: absolute;
    height: 100%;
    padding: 30px 0;

    h1 {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 0.09em;
        font-size: calc(40px + 20 * ((100vw - 320px) / (1440 - 320)));
        color: $top-section-color;
        padding-top: 10vh;
    }

    .subtitle {
        color: $top-section-color;
        font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
    }

    .scroll {
        a {
            color: $top-section-color;
            font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
            letter-spacing: 4px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

// MAIN-MENU
.main-menu {
    background-color: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #e6e6e6;

    nav {
        padding: 20px 0;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $main-font-color;
            font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
            letter-spacing: 0.08em;

            &:hover {
                color: #00a4e5;
                transition: .5s;
            }
        }
    }
}

// MOBILE MENU
.header__menu {
    .header__list {
        padding: 0;

        li {
            list-style-type: none;
            margin-bottom: 3rem;

            a {
                text-decoration: none;
                color: #000000;
                text-transform: uppercase;
                font-size: calc(25px + 5 * ((100vw - 320px) / (1440 - 320)));
            }
        }
    }
}

// OUR STORY
.our-story {
    padding: 60px 0;

    .header {
        margin-bottom: 50px;
    }

    .inner_content {
        .text {
            .bold {
                width: 90%;
                color: $main-font-color;
                font-size: calc(15px + 5 * ((100vw - 320px) / (1440 - 320)));
                font-weight: 700;

                .text-blue {
                    color: #00a4e5;
                }
            }

            .regular {
                width: 95%;
                color: $main-font-color;
                font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)));
                margin-bottom: 0;
            }
        }

        .visual {
            padding: 0;

            .item {
                position: relative;

                .img_container {
                    width: 96%;
                    max-width: 960px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                span {
                    position: absolute;
                    font-weight: 800;
                    color: #ffffff;
                    font-size: calc(15px + 9 * ((100vw - 320px) / (1440 - 320)));
                    text-transform: uppercase;
                    padding: 13px;
                }
            }
        }
    }
}

// OUR CAPABILITIES
.our-capabilities {
    padding: 40px 0 60px 0;

    .header {
        h2 {
            text-align: left;
        }
    }

    .text {
        color: $main-font-color;
        font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)));
    }

    .services_btn__wrapper {
        display: flex;
        justify-content: flex-end;
    }
}

.capabilities_items {
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;

    .item {
        border: 1px solid #e6e6e6;
        display: block;
        padding: 2% 3%;
        width: 30%;
    }

    .content {
       h3 {
          padding: 25px 0;
          margin: 0;
       }

        p {
            color: $main-font-color;
            font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)));
        }
    }
}

// BOTTOM IMG
.bottom_img__bg {
    background-image: url("../images/dist/bottom_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .container {
        .content {
            padding: 12rem 0 27rem 0;

            h2 {
                font-size: calc(20px + 10 * ((100vw - 320px) / (1440 - 320)));
                text-transform: none;
                letter-spacing: 0.15px;
                margin-bottom: 3rem;
            }
        }
    }
}

footer {
    background-color: #000000;
    color: #ffffff;

    .black-bg {
        background-color: #000000;
    }

    .company {
        width: 30%;

        p {
            font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
            letter-spacing: .8px;
            margin-top: 1.5rem;
        }
    }

    .footer_form {
        padding: 4rem 0;

        h2 {
            color: #ffffff;
            text-transform: none;
            font-size: calc(17px + 5 * ((100vw - 320px) / (1440 - 320)));
        }

        form {
            display: flex;
            height: 4rem;
        }

        input {
            border: 1px solid #ffffff;
            border-radius: none;
            padding: 0 1rem;
            width: 50%;
            -webkit-appearance: none;
            border-radius: 0;
        }

        .footer_btn {
            padding: 0 4rem;
        }
    }

    .links {
        .grid-container {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            .grid_item {
                padding-bottom: 1rem;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
                    letter-spacing: .8px;

                    &:hover {
                        color: #00a4e5;
                        transition: .3s;
                    }
                }
            }
        }
    }

    .contacts {
        span {
            display: block;
            font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
            letter-spacing: .8px;
            margin-bottom: 1.5rem;
        }
    }

    .social {
        font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)));
        padding-top: 2.5rem;

        a {
            color: #ffffff;
            margin-right: 2rem;

            &:hover {
                color: #00a4e5;
                transition: .3s;
            }
        }
    }

    .footer-copyright {
        padding: 4rem 0 3rem 0;

        span {
            font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
            letter-spacing: .8px;
        }
    }
}

// MEDIA QUERIES
@media (min-width: 2560px) {}

@media (min-width: 1200px) and (max-width: 1600px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .our-story {
        .inner_content {
            .text {
                margin-bottom: 25px;

                .bold {
                    width: 100%;
                    text-align: center;
                }

                .regular {
                    width: 100%;
                    text-align: center;
                }
            }

            .visual {
                justify-content: space-around;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    footer {
        .company {
            width: 28%;
        }

        .links {
            width: 37%;
        }

        .social {
            width: 10%;
        }
    }
}

@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }

    .header__burger {
        position: absolute;
        width: 35px;
        height: 20px;
        z-index: 2;
        top: 33px;
        right: 33px;

        span {
            position: absolute;
            background-color: #ffffff;
            left: 0;
            width: 100%;
            height: 3px;
            top: 8px;
            transition: all .3s ease 0s;
        }

        &::before,
        &::after {
            content: '';
            background-color: #ffffff;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            transition: all .5s ease 0s;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    .active {
        &::before {
            transform: rotate(45deg);
            top: 8px;
            background-color: #000000;
        }

        &::after {
            transform: rotate(-45deg);
            bottom: 8px;
            background-color: #000000;
        }

        span {
            transform: scale(0);
        }
    }

    .header__menu {
        position: fixed;
        overflow: auto;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .5s ease 0s;
        background-color: #ffffff;
        padding-top: 20vh;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
    }

    .our-story {
        .header {
            margin-bottom: 30px;
        }

        .text {
            .bold {
                margin-bottom: 25px;
            }
        }
    }

    .our-capabilities {
        flex-direction: column;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .text {
            text-align: center;
            margin: 25px 0;
        }

        button {
            margin: auto;
            left: 0;
            right: 0;
        }
    }

    .capabilities_items {
      display: none;
    }

    .capabilities_items__mobile {
      h3 {
         margin: 12px 0;
       }

      p {
         color: $main-font-color;
         font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)));
      }

      .carousel_buttons {
         .carousel_btn {
            background-color: transparent;
            border: none;
            outline: none;

            &:hover {
               color: #00a4e5;
               transition: .35s;
            }
         }
      }
    }

    .footer_form {
        flex-direction: column;

        .form {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }
    }

    footer {
        .company {
            width: 100%;
            margin-bottom: 3rem;
            text-align: center;
        }

        .links {
            width: 50%;
        }

        .contacts {
            text-align: center;
        }

        .social {
            text-align: center;
            justify-content: center;

            a {
                padding: 1rem;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .container {
        width: 90%;
    }

    .header__burger {
        right: 15px;
    }

    .top-section {
        .subtitle {
            width: 90%;
        }
    }

    .our-story {
        .header {
            margin-bottom: 2rem;
        }

        .inner_content {
            .text {
                margin-bottom: 0;

                .bold {
                    margin-left: auto;
                    margin-right: auto;
                }

                .regular {
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            .visual {
                .item {
                    display: none;
                }
            }
        }
    }

    footer {
        .links {
            width: 60%;
        }

        .contacts {
            width: 40%;
        }
    }
}

@media (max-width: 480px) {
    .top-section {
        .text-center {
            width: 90%;
        }
    }

    footer {
        .links {
            width: 100%;
            padding-left: 3rem;
            margin-bottom: 3rem;
        }

        .contacts {
            width: 100%;
        }
    }
}
