:root {
   font-family: 'Open Sans', sans-serif;
   line-height: 1.5;
}

// TOP-SECTION
.top-bg {
   background-image: url("../images/dist/top-bg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   height: calc(var(--vh, 1vh) * 100);
   margin: 0 auto;
   position: relative;
}

.top-section {
   position: absolute;
   height: 100%;
   padding: 30px 0;

   h1 {
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 0.09em;
      font-size: calc(40px + 20 * ((100vw - 320px) / (1440 - 320)));
      color: $main-color_white;
      padding-top: 10vh;
   }

   .subtitle {
      color: $main-color_white;
      font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
   }

   .scroll {
      a {
         color: $main-color_white;
         font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
         letter-spacing: 4px;
         text-transform: uppercase;
         text-decoration: none;

         &:hover {
            background-color: $main-color_white;
            color: $main-color-blue;
            @include transition; 
         }
      }
   }
}

// MAIN-MENU
.main-menu {
   background-color: $main-color_white;
   z-index: 1;
   border-bottom: 1px solid $border-color;

   nav {
      padding: 20px 0;

      a {
         text-decoration: none;
         text-transform: uppercase;
         color: $main-color_grey;
         font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
         letter-spacing: 0.08em;

         &:hover {
            color: $main-color-blue;
            @include transition;
         }
      }
   }
}

// MOBILE MENU
.header__menu {
   .header__list {
      padding: 0;

      li {
         list-style-type: none;
         margin-bottom: 3rem;

         a {
            text-decoration: none;
            color: $main-color_black;
            text-transform: uppercase;
            font-size: calc(25px + 5 * ((100vw - 320px) / (1440 - 320)));
         }
      }
   }
}

// OUR STORY
.our-story {
   padding: 60px 0;

   .header {
      margin-bottom: 50px;
   }

   .inner_content {
      .text {
         .bold {
            width: 90%;
            color: $main-color_grey;
            font-size: calc(15px + 5 * ((100vw - 320px) / (1440 - 320)));
            font-weight: 700;

            .text-blue {
               color: $main-color-blue;
            }
         }

         .regular {
            width: 95%;
            color: $main-color_grey;
            font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)));
            margin-bottom: 0;
         }
      }

      .visual {
         padding: 0;

         .item {
            position: relative;

            .img_container {
               width: 96%;
               max-width: 960px;
               margin: 0 auto;

               img {
                  width: 100%;
                  height: auto;
               }
            }

            span {
               position: absolute;
               font-weight: 800;
               color: $main-color_white;
               font-size: calc(15px + 9 * ((100vw - 320px) / (1440 - 320)));
               text-transform: uppercase;
               padding: 13px;
            }
         }
      }
   }
}

// OUR CAPABILITIES
.our-capabilities {
   padding: 40px 0 60px 0;

   .header {
      h2 {
         text-align: left;
      }
   }

   .text {
      color: $main-color_grey;
      font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)));
   }

   .services_btn__wrapper {
      display: flex;
      justify-content: flex-end;
   }
}

.capabilities_items {
   padding-bottom: 50px;
   display: flex;
   justify-content: space-between;

   .item {
      border: 1px solid $border-color;
      display: block;
      padding: 2% 3%;
      width: 30%;
   }

   .content {
      h3 {
         padding: 25px 0;
         margin: 0;
      }

      p {
         color: $main-color_grey;
         font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)));
      }
   }
}

// BOTTOM IMG
.bottom_img__bg {
   background-image: url("../images/dist/bottom_bg.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
      
   .content {
      padding: 150px 0;

      h2 {
         font-size: calc(20px + 10 * ((100vw - 320px) / (1440 - 320)));
         text-transform: none;
         letter-spacing: 0.15px;
         margin-bottom: 3rem;
      }
   }
}

footer {
   background-color: $main-color_black;
   color: $main-color_white;

   .black-bg {
      background-color: $main-color_black;
   }

   .company {
      p {
          font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
          letter-spacing: .8px;
          margin-top: 15px;
      }
   }

   .footer_form {
      padding: 35px 0;

      h2 {
         color: $main-color_white;
         text-transform: none;
         font-size: calc(17px + 5 * ((100vw - 320px) / (1440 - 320)));
      }

      form {
         display: flex;
         height: 40px;
      }

      input {
         border: 1px solid $main-color_white;
         padding: 10px;
         width: 60%;
         -webkit-appearance: none;
         border-radius: 0;
      }

      .footer_btn {
         padding: 0 40px;
      }
   }

   .footer_info {
     padding-top: 20px;
   }

   .links {
      .grid-container {
         display: grid;
         grid-auto-flow: column;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

         .grid_item {
            padding-bottom: 10px;

            a {
               text-decoration: none;
               text-transform: uppercase;
               color: $main-color_white;
               font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
               letter-spacing: .8px;

               &:hover {
                  color: $main-color-blue;
                  @include transition;
               }
            }
         }
      }
   }

   .contacts {
      span {
         display: block;
         font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
         letter-spacing: .8px;
         margin-bottom: 15px;
      }
   }

   .social {
      font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)));
      margin-top: 45px;
      justify-content: space-around;

      a {
         color: $main-color_white;
         font-size: 20px;

         &:hover {
            color: $main-color-blue;
            @include transition;
         }
      }
   }

   .footer-copyright {
      padding: 4rem 0 3rem 0;

      span {
         font-size: calc(11px + 1 * ((100vw - 320px) / (1440 - 320)));
         letter-spacing: .8px;
      }
   }
}

// MEDIA QUERIES
//@media (min-width: 2560px)

@media (min-width: 1200px) and (max-width: 1600px) {
   .container {
       max-width: 960px;
   }
}

@media (max-width: 992px) {
   .our-story {
      .inner_content {
         .text {
            margin-bottom: 25px;

               .bold {
                  width: 100%;
                  text-align: center;
               }

               .regular {
                  width: 100%;
                  text-align: center;
               }
            }

            .visual {
               justify-content: space-around;
               margin-left: auto;
               margin-right: auto;
            }
      }
   }

   footer {
      .links__dropdown {

         button {
            background-color: $main-color-blue;
            outline: none;

            &:hover,
            &:focus {
               color: $main-color-blue;
               background-color: $main-color_white;
               @include transition;
            }
         }

           }

           .dropdown-menu {
               .dropdown-item:hover {
                  background-color: $main-color-blue;
                  color: $main-color_white;
                  @include transition;
               }    
            }
      }
}

@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }

    .header__burger {
        position: absolute;
        width: 35px;
        height: 20px;
        z-index: 2;
        top: 33px;
        right: 33px;

        span {
            position: absolute;
            background-color: $main-color_white;
            left: 0;
            width: 100%;
            height: 3px;
            top: 8px;
            @include transition;
        }

        &::before,
        &::after {
            content: '';
            background-color: $main-color_white;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            @include transition;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    .active {
        &::before {
            transform: rotate(45deg);
            top: 8px;
            background-color: $main-color_black;
        }

        &::after {
            transform: rotate(-45deg);
            bottom: 8px;
            background-color: $main-color_black;
        }

        span {
            transform: scale(0);
        }
    }

    .header__menu {
        position: fixed;
        overflow: auto;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $main-color_white;
        padding-top: 20vh;
        @include transition;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
    }

    .our-story {
        .header {
            margin-bottom: 30px;
        }

        .text {
            .bold {
                margin-bottom: 25px;
            }
        }
    }

    .our-capabilities {
        flex-direction: column;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .text {
            text-align: center;
            margin: 25px 0;
        }

        button {
            margin: auto;
            left: 0;
            right: 0;
        }
    }

    .capabilities_items {
      display: none;
    }

      .capabilities_items__mobile {
         padding-top: 40px;

         .carousel-inner {
          border-top: 1px solid $border-color;
          border-bottom: 1px solid $border-color;

          .carousel-item {
            padding: 20px;

            h3 {
               margin: 12px 0;
            }
      
            p {
               color: $main-color_grey;
               font-size: calc(12px + 1 * ((100vw - 320px) / (1440 - 320)));
               margin: 0;
            }
         }
      }

      .carousel_buttons {
         padding-top: 15px;

         .carousel_btn {
            background-color: transparent;
            border: none;
            outline: none;

            &:hover {
               color: $main-color-blue;
               @include transition;
            }
         }
      }
    }

    .footer_form {
        flex-direction: column;

        .form {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }

    footer {
        .company {
            width: 100%;
            margin-bottom: 25px;
            text-align: center;
        }

        .contacts {
            text-align: center;
        }

        .social {
            width: 45%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .bottom_img__bg {
      .content {
         padding: 100px 0;
      }
   }
}

@media (max-width: 575.98px) {
    .container {
        width: 90%;
    }

    .header__burger {
        right: 15px;
    }

    .top-section {
        .subtitle {
            width: 90%;
        }
    }

    .our-story {
        .header {
            margin-bottom: 2rem;
        }

        .inner_content {
            .text {
                margin-bottom: 0;

                .bold {
                    margin-left: auto;
                    margin-right: auto;
                }

                .regular {
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            .visual {
                .item {
                    display: none;
                }
            }
        }
    }

    footer {
       .links__dropdown {
          padding-bottom: 25px;
          text-align: center;
       }
    }
}

@media (max-width: 480px) {
   .top-section {
      .text-center {
         width: 90%;
      }
   }

   footer {
      .footer_form {
         input {
            width: 80%;
            padding: 5px;
         }

         .footer_btn {
            padding: 0 20px;
        }
      }

      .contacts {
         width: 100%;
      }
   }
}
